@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Lobster&family=Permanent+Marker&display=swap');


*{
    padding: 0;
    margin: 0;
}

.bg_image{
    width: 100%;
    /* min-height: 200%; */
    filter: brightness(30%);
}
.aboutMovie{
    position:absolute;
    top: 80px;
  
   
}
.aboutMovie_top{
    display: flex;
  gap: 60px;
   align-items: center;
   
   max-width: 100%;

}
.aboutMovie_runtime{
    display: flex;
    gap: 20px;
    
}
.thumbnail_image{
    
    border-radius: 15px;
    border: 2px whitesmoke solid;
    height: 50%;
}
.aboutMovie_left{
    padding-top: 30px;
    align-self: flex-start;
    padding-left: 70px;
    max-width:30%;
   
}
.aboutMovie_right{
    padding-top: 30px;
    align-self: flex-start;
    
    max-height: 90vh;
    padding-right:100px;
    color: whitesmoke;
}
.rightBar{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    
    justify-content: space-around;
    text-align: center;
    z-index: 1;
    top: 100px;
    left: 77%;
    position: fixed;
    border-radius: 15px;
    
    background-color: rgba(0, 0, 0, 0.329);
    width: 300px;
    height: 80vh;
    
    color: whitesmoke;
}
.rightbar_details{
    text-decoration: none;
    border-radius: 15px;
    border: solid whitesmoke 2px;
    padding-left: 86px;
    padding-right: 86px;
    font-family: "Josefin Sans";
    color: whitesmoke;
    font-size:x-large;

    
}
.right{
    background-color: red;
}
.dp_image{
   width: 100px;
   height: 90px; 
   border: solid  darkgray 3px;
   border-radius: 45px;
   
   
}


.actor{
    width: 55px;
    padding-top: 20px;
    gap: 10px;
    display: flex;
  
    
}
.similartitles{
    color: whitesmoke;
    font-family: "Kanit";
    font-size: 32px;
    padding-left: 80px;
    
}

.genres{
    background-color: rgba(0, 0, 0, 0.678);
    border: solid 1px rgb(197, 193, 193) ;
    padding-left: 3px;
    padding-right: 3px;
}
.spinner{
    
   

    
    
}
.spinner-div{
    display: flex;
    width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
    
    
}